<!-- #1 -->
<% const favorite = post.getFavoriteFor(currentUser.id) %>
<% if (favorite) { %>
<form style="display: initial;" action="/topics/<%= post.topicId %>/posts/<%= post.id %>/favorites/<%= favorite.id %>/destroy" method="post">
    <button type="submit" class="btn btn-danger"><i class="em em-face_with_rolling_eyes"></i></button>
</form>
<% } else { %>
<!-- #2 -->
<form style="display: initial;" action="/topics/<%= post.topicId %>/posts/<%= post.id %>/favorites/create" method="post">
    <button type="submit" class="btn btn-primary"><i class="em em-heart_eyes"></i></button>
</form>
<% } %>
